

.dashCards {
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  
}

.dashCard {
  width: 100%;
  background: #fff;
  border-radius: 0.5em;
  padding: 1em;
  box-shadow: 0 0.5em 0.5em #ccc;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2em;
  color: #333;
  padding: 0 0 0.5em 0;
  margin: 0 0 1em 0;
  border-bottom: 1px solid #f0f0f0;
}

.body {
  display: flex;
  font-size: 4em;

  .icon {
    color: #c0c0c0;
  }

  .value {
    font-weight: 100;
    margin-left: auto;
    color: #666;
  }
}

.seen {
  background: linear-gradient(rgb(85, 187, 255), rgb(255, 255, 255));
}

.accepted {
  background: linear-gradient(rgb(139, 248, 139), rgb(255, 255, 255));

}
.rejected {
  background: linear-gradient(rgb(255, 132, 132), rgb(255, 255, 255));

}
.pending {
  background: linear-gradient(rgb(245, 236, 120), rgb(255, 255, 255));

}
.total {
  background: linear-gradient(rgb(115, 223, 205), rgb(255, 255, 255));

}




